<div class="row mt-4 ml-5 mr-5">

  <div>
    <p-button label="Add New" (onClick)="openModal()" icon="pi pi-plus-circle" iconPos="right"></p-button>

  </div>
</div>
<div class="text-center" *ngIf="showLoader">
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</div>
<div class="ml-5 mr-5 mt-5"  *ngIf="taskList.length > 0" >
  <div class="table-responsive border-1">
    <table class="table table-striped">
      <thead>
      <tr>

        <th class="text-center" >#</th>
        <th class="text-center" >Description</th>
        <th class="text-center" >Status</th>
        <th class="text-center" >Action</th>


      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let eachData of taskList|
    paginate : {
            itemsPerPage: tableSize,
            currentPage: currentPage,
            totalItems: totalCount
          };
    let i = index">

        <td class="text-center" >{{i+1}}</td>
        <td class="text-center" >{{eachData['todo']}}</td>
        <td class="text-center" >
          <span [ngStyle]="{'color':eachData.completed ? 'green' : 'red' }" >{{eachData['completed'] ? 'Completed' : 'Incomplete'}}</span>
        </td>
        <td class="text-center" >
          <button class="btn btn-sm btn-success" (click)="markAsComplete(eachData)" > <i class="fa fa-check-circle text-white" ></i> Mark As Complete</button>
          <button class="btn btn-sm btn-outline-primary ml-2" (click)="openEditPopUp(eachData)" > <i class="fa fa-pencil text-primary" ></i> Edit</button>
          <button class="btn btn-sm btn-danger ml-2" (click)="daleteData(eachData?.id)" > <i class="fa fa-trash text-white" ></i> Delete</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

</div>
<hr>
      <div class="row mx-2" *ngIf="taskList.length > 0">
        <div class="d-flex justify-content-center">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>
      </div>


      <p-dialog [header]="headerName" [style]="{'width':'40%'}" [modal]="true" [(visible)]="showFormDialog" (onHide)="hidePopUp()">
        <div class="row">
          <form [formGroup]="dataForm">
            <div class="row">
              <div class="col-md-6 mb-3 p-field">
                <span class="">
                  <label>Description</label>
                  <textarea rows="5" cols="30" pInputText formControlName="todo" class="w-100" placeholder="Task Description" required></textarea><br>

                  <small *ngIf="(dataForm.get('todo').touched && dataForm.get('todo').errors) && dataForm.value?.todo==''" class="p-error">Please enter Value</small>
                  <small *ngIf="nameError" class="p-error">Please enter Value</small>
                </span>

              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-12">
                <button (click)="addData()" pRipple class="btn btn-primary float-end ml-4">{{currentselectedData?'Update':'Add'}} Data</button>

                <button pRipple (click)="dataForm.reset()" class="btn btn-danger float-end ">Reset</button>

              </div>
            </div>
          </form>
        </div>
      </p-dialog>
